h1 {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 113, 130);
    
}
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:aliceblue
}

p {
    color: rgb(255, 113, 130);
    margin-left: 200 px ;
    font-weight: bold;
    
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:aliceblue
}

body {
    background-color: rgb(16, 35, 91);
}


/* .q and a {
    width: 300;
    margin: center;
}

.question {
    font-size: 300;
    margin: center;

}

.answer {
    font-size: 300;
    margin: center;
    
}
 */

